body {
  text-align: center;
}
.thumb {
  height: 200px;
}

.feature {
  height: 500px;
}

ul {
  list-style: none;
  margin: auto;
  text-align: center;
}

li {
  display:inline-block;
  width: 200px;
}
